body {
    color: red;
    background: green;
    width: 30px;
    height: 20px;
    display:flex;
    padding: 10rem;
    margin: 5rem;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: yellow;
    border: 10px;
}

.a {
    color: yellow;
    width: 30px;
}

.html {
    border: 2px solid black;
}

#Will {
    display: flex;
}

#Rose {
    display: block;
    color: purple;
}

#alice {
    color: yellow;
    height: 10rem;
    font-size: 10%;
}

#fill {
  color: yellow;   
}

#caps {
     color: yellow;
}